apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-nginx
  namespace: demo
spec:
  selector:
    matchLabels:
      app: hello-nginx
  template:
    metadata:
      labels:
        app: hello-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.25
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "256Mi"
              cpu: "16m"
            limits:
              memory: "512Mi"
              cpu: "256m"
---
apiVersion: v1
kind: Service
metadata:
  name: hello-nginx-svc
  namespace: demo
spec:
  selector:
    app: hello-nginx
  ports:
    - port: 80
      targetPort: 80
  type: LoadBalancer
# ---
# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: hello-nginx-ingress
#   namespace: demo
# spec:
#   rules:
#     - http:
#         paths:
#           - path: /
#             pathType: Prefix
#             backend:
#               service:
#                 name: hello-nginx-svc
#                 port:
#                   number: 80
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: hello-nginx-hpa
  namespace: demo
  labels:
    app: hello-nginx
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: hello-nginx
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80